*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  margin: auto;
  display: flex;
  color: #fff;
  font-size: 18px;
  block-size: 100%;
  align-items: center;
  inline-size: 1200px;
  justify-content: center;
  background-color: #1b1919;
  font-family: 'Fira Sans Condensed', sans-serif;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  gap: 30px;
  display: flex;
  height: 534px;
  width: 1140px;
  align-items: end;
}

.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: 1.5px;
}

.search-form__checkbox-list {
  gap: 15px;
  display: flex;
}

.search-form__label {
  gap: 5px;
  display: flex;
  width: fit-content;
  align-items: center;
}

.search-form__label:has(:focus-visible) {
  outline-offset: 1px;
  outline: 1px solid #fff;
}

.search-form__textfield {
  border: none;
  width: 225px;
  outline: none;
  color: #fff;
  font-size: 18px;
  appearance: none;
  padding: 1.5px 0;
  border-top: 1px solid #fff;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  padding: 1px;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox::after {
  opacity: 0;
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background-color: #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:has(.search-form__checkbox):hover {
  cursor: pointer;
  text-decoration: underline;
}

.button {
  padding: 0;
  outline: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #fff;
  background-color: transparent;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.button:focus-visible {
  outline-offset: 1px;
  outline: 1px solid #fff;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button:active {
  text-decoration: none;
  background-color: #545050;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: flex-end;
}

/* не понятно как по описанию проекта кнопку
"показать еще" нужно растянуть на весь контейнер,
если ее родительский контейнер это
content__list-container, который 399px, в кнопка
должна быть по ширине как список карточек content__list
который в свою очередь 390px
по заданию менять html разметку не желательно,
поэтому пришлось кнопку стилизовать по другому.
так же в заготовке на гитхаб неверный плейсхолдер
в инпуте города, там "Санкт Петербург, например" через
пробел, а в макете фигмы через "-" -
"Санкт-Петербург, например", и в самой кнопке
"Показать ещё" изначально "Показать еще" */

.more-button {
  width: 390px;
  height: 34px;
  padding: 6px 0;
  margin: 0 0 2px 2px;
}

.content__details {
  width: 100%;
  height: 100%;
  align-items: start;
}

.title {
  font-size: 75px;
  line-height: 94%;
  font-weight: bold;
  padding: 2px 0 22px;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  gap: 30px;
  width: 399px;
  display: flex;
  height: 298px;
  overflow-y: auto;
  position: relative;
  flex-direction: column;
}

.content__list {
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.content__list-item {
  padding: 0 3px;
}

.content__card-link {
  color: #fff;
  display: block;
  text-decoration: none;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration-skip-ink: none;
  text-decoration: underline solid #fff 1px;
}

.content__card-link:active {
  text-decoration: none;
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-description-container {
  flex-grow: 1;
  width: 196px;
  overflow: hidden;
  max-height: 103px;
}

.content__video-card-title {
  width: 100%;
  font-size: 30px;
  overflow: hidden;
  padding-top: 2px;
  font-weight: bold;
  line-height: 100%;
  white-space: nowrap;
  padding-bottom: 4px;
  text-overflow: ellipsis;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
}

.content__video-card-description {
  width: 100%;
  line-clamp: 4;
  font-weight: 400;
  overflow: hidden;
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.visually-hidden {
  block-size: 1px;
  inline-size: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
